.app {
  display: inline-block;
}
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  border: 1px solid black;
  height: 300px;
  padding: 10px;
}

.all-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.nav-bar {
  height: 40px;
  display: flex;
  gap: 30px;
  padding-left: 20px;
  align-items: center;
  padding-bottom: 10px;
  background: lightcyan;
}

.nav-bar a {
  text-decoration: none;
  font-size: 25px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
  /* width: 100px;
  height: 100px; */
  padding: 10px;
}

.main-home {
  background: lightpink;
  color: red;
  border: red 2px solid;
  height: 80vh;
  width: 80%;
  text-align: center;
  font-size: xx-large;
}
.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
