.app {
  display: inline-block;
}
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  border: 1px solid lightslategray;
  color: black;
  border-radius: 4px;
  height: 300px;
  padding: 10px;
  margin: 10px;
}

.all-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.nav-bar {
  height: 40px;
  display: flex;
  gap: 30px;
  padding-left: 20px;
  align-items: center;
  padding-bottom: 10px;
  background: lightcyan;
}

.nav-bar a {
  text-decoration: none;
  font-size: 25px;
  color: lightseagreen;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid lightslategray;
  border-radius: 4px;
  padding: 10px;
}

.main-home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightpink;
  color: red;
  border: red 2px solid;
  border-radius: 5px;
  height: 80vh;
  width: 80%;
  text-align: center;
  font-size: xx-large;
}
.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.cart-main {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.pay-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.cart-counter {
  font-size: x-large;
  color: lightseagreen;
}
