.app {
  display: inline-block;
}
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  border: 1px solid black;
  height: 300px;
  padding: 10px;
}

.all-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.nav-bar {
  height: 40px;
  display: flex;
  gap: 30px;
  padding-left: 20px;
  align-items: center;
  padding-bottom: 10px;
  background: lightcyan;
}

.nav-bar a {
  text-decoration: none;
  font-size: 25px;
}
